/* // Place all the styles related to the job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#sectionaudit {    
	padding:20px;    
	background:#f0f0f0;    
	width:400px;    
	display:none;
	left: 1000px;
}

.centerDiv {
	display: block;
	width: 600px;
	margin: 0 auto;
}

#content {
	width: 900px;
	margin: 0 auto 0 auto;
}
p {
	text-align: center;
	position: left;
}

#sectionIT {    
	padding:20px;    
	background:#f0f0f0;    
	width:400px;    
	display:none;
}


#sectionfinance {    
	padding:20px;   
	background:#f0f0f0;    
	width:400px;    
	display:none;
    }



